{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Dark Theme Blog</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
   <div class="container head col-md-8 text-white">

      <div class="name">1Point1-Blogs</div>

      <div class="logout"><a style="text-decoration: none;" href="/">HOME</a></div>
      <div class="logout"><a style="text-decoration: none;" href="logout">LOGOUT</a></div>

   </div>
   {% if msg %}
   <div class="alert alert-danger col-md-6 mx-auto">
      {{msg}}
   </div>
   {% endif %}

   <div class="col-md-8 card bg-dark rounded-4 mb-4 mx-auto mt-2">

     <div class="form_container mx-5 mt-4">
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}

         
         <div class="mb-3">
            <label class="form-label text-white">Title:</label>
            <input type="text" class="form-control" name="posttitle" placeholder="Enter Blog Title" required>
         </div>

         <div class="mb-3">
            <label class="form-label text-white">Upload Image:</label>
            <input type="file" class="form-control" name="img" accept="image/*">
         </div>



         <div class="mb-3">
            <label class="form-label text-white">Short Description:</label>
            <textarea  class="form-control" name="shortdesc" id="" rows="3" placeholder="type short descriptions about blog"></textarea>
          
         </div>
        
         <div class="mb-3">
            <label class="form-label text-white">Detailed Blog Descriptions:</label>
            <textarea  class="form-control" name="description" id="" rows="8" placeholder="type detailed blog here.."></textarea>
          
         </div>
        

         <button class="btn btn-outline-secondary col-md-2 mx-auto mb-4 text-white" type="submit">Add-Blog</button>


       </form>
     </div>
   </div>




   <!-- 
<div class="card-1 card-header col-md-10 text-white mt-4 mx-5">
   <label for="">Title:</label>
      <span><input class="form-control bg-dark text-white" name="posttitle" type="text"></span>
  </div>

  <div class="card-body col-md-10 text-white">
   <label for="">Details</label>
  <input class="form-control card-text bg-dark mx-5 text-white" name="posttext" type="text">
  </div>

 -->




</body>

</html>