{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>One Point Blog Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>


    {% block content %}
    
    <div class="container col-md-12 mx-auto">

        <div class="tagline col-md-8 mx-auto mb-4">
            <h1 class="text-white">Welcome to the One Point Blog</h1>

        </div>


        <div class="row mt-3 mb-5 mx-auto col-md-12">
            {% for x in blogpost %}
            <div class="col-md-4">
                <div class="blogcard text-white py-2 bg-dark rounded-4 mb-4">

                        <div class="image">
                            <img  class="card-image-top" src="{{x.b_image.url}}" width="100%" alt="Card image cap">
                        </div>


                    <div class="card-1 card-header  mt-4 pl-3">
                        {{x.title}}
                    </div>




                    <div class="card-body">
                        <div class="card-text">
                            <p>
                                {{x.shortdesc}}
                            </p>
                        </div>

                        <div style="width: 150px;" class="written_by mx-auto my-2">
                                <div class="wrby_name">
                                    By:{{user.username}}
                                </div>
                        </div>




                        <div class="see_details col-md-6 mx-auto">
                            <a href="/detailblog/{{x.id}}"
                                class="btn btn-outline-secondary btn-sm rounded-3 edit-btn">See Details..</a>
                        </div>
                    </div>



                    <!-- Comment Section

                    <div class="comment_section card text-white bg-dark mb-4 mt-2 col-sm-10 border rounded-4 mx-auto">
                        <div class="card-header mt-3">
                            Comments
                        </div>
                        <div class="card-body">
                            {% for comment in comments %}
                            <div class="comment">
                                {{user.username}}

                                <p class="card-text">{{comment}}</p>


                            </div>
                            {% endfor %}
                        </div>
                    </div> -->




                </div>
            </div>
            {% endfor %}

        </div>




    </div>



    {% endblock content %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>