{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>One Point Blog Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>


    {% block content %}

    <div class="container col-md-12 mx-auto">

        <div class="tagline col-md-8 mb-4 mx-auto">
            <h1 class="text-white text-center">Welcome to the One Point Blog</h1>

        </div>


        <div class="row mt-3 mb-5 mx-auto col-md-12">
            {% for x in blogpost %}
            <div class="col-md-4">
                <div class="card text-white bg-dark rounded-4 mb-4" style="height: 450px;">

                    <div class="image">
                        <img class="card-img-top" src="{{x.img.url}}" width="100%" height="200px" alt="Card image cap">
                    </div>


                    <div class="card-1 card-header text-info radius-2   mt-2 pl-3">
                        {{x.title}}
                    </div>

                    <div class="shortdesc mt-2 ml-3 mb-4">
                        <p>
                            {{x.shortdesc}}
                        </p>
                    </div>


                    <div class="writtenby text-info text-center mt-5">
                        Written By : {{x.uid.username}}
                    </div>





                    <div class="see_details col-md-6 mx-auto mt-2    text-center">
                        <a href="/detailblog/{{x.id}}" class="btn btn-outline-secondary btn-sm rounded-3 edit-btn">See
                            Details..</a>
                    </div>




                    <!-- Comment Section

                    <div class="comment_section card text-white bg-dark mb-4 mt-2 col-sm-10 border rounded-4 mx-auto">
                        <div class="card-header mt-3">
                            Comments
                        </div>
                        <div class="card-body">
                            {% for comment in comments %}
                            <div class="comment">
                                {{user.username}}

                                <p class="card-text">{{comment}}</p>


                            </div>
                            {% endfor %}
                        </div>
                    </div> -->




                </div>
            </div>
            {% endfor %}

        </div>




    </div>



    {% endblock content %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>