{% extends "base.html" %}

{% block content %}

<div class="col-md-6 text-white offset-md-3 border border-secondory border-3 mt-4 rounded-4 bg-cyan" 
  >
    <h2 class="m-3 text-center ">Login</h2><br>
    
    <form method="post" class="m-4" >
        {% csrf_token %}

        {% if err %}
        <div class="alert alert-danger" >
          <h5>{{err}}</h5>
        </div>
        {% endif %}
            <div class="mb-3">
              <label class="form-label">User name</label>
              <input type="text" class="form-control" name="username" placeholder="Enter User Name" required >
              
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter Password" required >
            </div>
            
            <button type="submit" class="btn btn-secondary mr-3" >Submit</button>Not signed up?<a class="ml-2" href="/register">Register</a>
          

    </form>

</div>

  
{% endblock content %}